{% extends 'base.html' %} 

{% block title %}Purchases List{% endblock title %} 

{% block content %}
<h1>Purchases List</h1>
<table class="table table-striped table-bordered table-sm">
    <tr>
        <th>S. No</th>
        <th>Name</th>
        <th>Purchased at</th>
        <th>Store</th>
        <th>Comments</th>
    </tr>
    {% for purchase in object_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td style="cursor: pointer;" onclick="location.href='{% url "purchaseitem-list" purchase.id %}'">{{ purchase.name }}</td>
        <td>{{ purchase.purchased_at }}</td>
        <td>{{ purchase.store }}</td>
        <td>{{ purchase.comments }}</td>
    </tr>
    {% empty %}
    <tr>
        <td>No Purchase Added.</td>
    </tr>
    {% endfor %}

</table>
  
{% endblock content %} 

