<style>
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: left;
    }
    table {
        width: 50%;
    }
    th {
        background-color: gray;
        color: white;
    }

</style>

<h1>Category List</h1>
<table>
    <tr>
        <th style="width: 40;">S. No</th>
        <th>Name</th>
    </tr>
    {% for category in object_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ category.name }}</td>
    </tr>
    {% empty %}
    <tr>
        <td>No Category Added.</td>
    </tr>
    {% endfor %}

</table>